<!-- image and search -->
<div class="search-field parallax-effect" align="center">

    <!-- container text -->
    <div class="container valign-wrapper">
        <div class="card-panel z-depth-3">
            <h4>Board Games</h4>

            <%= form_tag(listings_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
            <%= submit_tag "Search" %>
            <% end %>
        </div>
    </div>

    <br>

    <div class="results">

        <% if @listings.present? %>
        <% @listings.each do |listing| %>
        <b><%= listing.name %></b>
        <br>
        Description:
        <%= listing.description %>
        <br>
        Price:
        <%= listing.price %>
        <br>
        Difficulty:
        <%= listing.difficulty %>
        <br>
        Number of players:
        <%= listing.players %>
        <br><br>
        <% end %>
    <% else %>
        <p>There are no listings containing the term(s)
            <%= params[:search] %>.</p>
        <% end %>
        <br>
        <div class="BoardGamePost">
            <% @listings1.each do |listing| %>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="<%=listing.avatar %>">
                </div>
                <div class="card-content">
                    <p>
                        <b><%=link_to listing.name, listing %></b>
                        <br>
                        Description:
                        <%= listing.description %>
                        <br>
                        Price:
                        <%= listing.price %>
                        <br>
                        Difficulty:
                        <%= listing.difficulty %>
                        <br>
                        Number of players:
                        <%= listing.players %>
                        <br><br>
                    </p>
                    <div class="chip">
                        <img src="<%= listing.avatar %>" alt="Contact Person">
                        <%= listing.name %>
                    </div>
                </div>

            </div>

            <% end %>
        </div>

    </div>
</div>
