<h1>Listings</h1>

<% @listings1.each do |listing| %>
<%= listing.price %> <br>
<%= listing.name %> <br>
<%= listing.description %> <br>
<%= listing.difficulty %> <br>
<%= listing.players %>
<% end %>

<br>

<%= form_tag(listing_index_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>

<% if @listings.present? %>
  <% @listings.each do |listing| %>
  <%= listing.price %> <br>
  <%= listing.name %> <br>
  <%= listing.description %> <br>
  <%= listing.difficulty %> <br>
  <%= listing.players %>
<% end %>
<% else %>
  <p>There are no listings containing the term(s) <%= params[:search] %>.</p>
<% end %>
