<h1>Request your booking</h1>

<p><%= @listing.id %>
<%= form_for @booking do |f| %>

    <%# f.hidden_field :user_id, :value => current_user.id %>
    <% f.hidden_field :listing_id , :value => @listing.id %>

    <div class="form-group">
       <%= f.label :start_date %>
       <%= f.datetime_field :start_date, class: "form-control", placeholder: ". . ." %>
    </div>

    <div class="form-group">
       <%= f.label :end_date %>
       <%= f.datetime_field :end_date, class: "form-control", placeholder: ". . ."   %>
    </div>

    <%= f.submit (@booking.new_record? ? "Create" : "Update"), class: "form-control btn-primary" %>

<% end %>
