<div class="search-field parallax-effect" align="center">

  <!-- container text -->
  <div class="container valign-wrapper">
  <div class="card-panel z-depth-3">
    <form>
        <div class="input-field" style="border:none;">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
  </div>
  </div>

</div>





<!-- <h1>AirBnG</h1>

<% if user_signed_in? %>
  <li>
  Welcome <%= current_user.email %> !
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <%= link_to('Your profile', user_profile_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  <%= link_to('Sign up', new_user_registration_path) %>
  </li>
<% end %>
<br>




<br> -->
